<div class="p-4 m-2 justify-content-center">
  <div class="row ml-5 mr-5 pb-1">
    <div class="col d-flex justify-content-center align-items-center">
      <img class="my-img" [src]="service.image" />
    </div>
    <div class="col pt-2 mt-2 pl-2">
      <p><small class="title-text">Name: </small><strong class="text"> {{service.name}}</strong></p>
      <p><small class="title-text">Price: </small><strong class="text"> {{service.price}} UAH</strong></p>
      <p><small class="title-text">Employee: </small><strong class="text"> {{service.employeeName}}</strong></p>
      <p><small class="title-text">Service for: </small><strong class="text"> {{service.serviceType}}</strong></p>
      <br />
      <div (mouseover)="rotate=true" (mouseout)="rotate=false">
        <button class="btn btn-success" (click)="setOrder(service.id)">
          <i *ngIf="rotate===false" style="margin-right: 7px;" class="fas fa-shopping-cart"></i>
          <i *ngIf="rotate===true" style="margin-right: 7px;" class="fas fa-shopping-cart fa-spin"></i>
          Order</button>
        <!-- <i class="fas fa-shopping-basket"></i>   -->
      </div>
    </div>
  </div>
  <button *ngIf="role==='Customer'" [routerLink]="['/customer-panel/']" class="btn btn-warning">Go back ..</button>
</div>
