<form class="col-lg-5 text-center" style="margin: 0 auto;" #myForm="ngForm" (ngSubmit)="add()">

  <input class="my-margin form-control" [(ngModel)]="newEmployee.email" type="text" name="email" placeholder="Email">
  <input class="my-margin form-control" [(ngModel)]="newEmployee.fullName" type="text" name="fullName" placeholder="FullName">
  <input class="my-margin form-control" [(ngModel)]="newEmployee.password" type="password" name="password" placeholder="Password">
  <input class="my-margin form-control" [(ngModel)]="newEmployee.phone" type="tel" name="phone" placeholder="Phone">
  <input class="my-margin form-control" [(ngModel)]="newEmployee.image" type="text" name="image" placeholder="Image URL">
  <input class="my-margin form-control" [(ngModel)]="newEmployee.birthDate" type="date" name="date" placeholder="BirthDay">
  <input class="my-margin form-control" [(ngModel)]="newEmployee.address" type="address" name="address" placeholder="Address">

  <select name="specialities" class="form-control my-margin" [(ngModel)]="newEmployee.specialities">
    <option selected disabled>Speciality type</option>
    <option class="input100 label-input100 specialityType"
      *ngFor="let item of specialityType;" [ngValue]="item">{{item}}</option>
  </select>

  <button type="submit" class="btn btn-dark my-margin">Save</button>
</form>