<!-- <div class="limiter">
  <div class="container-login100"> -->
    <div class="wrap-login100">
      <form class="login100-form validate-form" #myForm="ngForm" (ngSubmit)="login()">
        <span class="login100-form-title p-b-43">Login</span>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input [(ngModel)]="model.Email" class="input100" type="text" name="email">
          <span class="focus-input100"></span>
          <span class="label-input100">Email</span>
        </div>


        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input [(ngModel)]="model.Password" class="input100" type="password" name="pass">
          <span class="focus-input100"></span>
          <span class="label-input100">Password</span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Login
          </button>
        </div>

        <div class="text-center p-t-46 p-b-20">
          <span class="txt2">
            Don't have account?
            <a [routerLink]="['/register']">Register now</a>
          </span>
        </div>
      </form>

      <div class="login100-more" style="background-image: url('https://www.apriori.od.ua/img/newi/IMG_4062.jpg');">
      </div>
    </div>
  <!-- </div>
</div> -->
