<div class="container d-flex p-3 my-border">
  <div class="col-sm-4">
    <div class="card" (click)="redirectTo('Beauty services')">
      <div class="image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ3_jxjouXNfGdcal_1l6aypOYfwHsfowr1RA&usqp=CAU" />
      </div>
      <div class="card-inner">
        <div class="header">
          <h2>Beauty services</h2>
          <!-- <h3>Setting</h2> -->
        </div>
        <div class="content">
          <p>Add something new</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" (click)="redirectTo('Beauty products')">
      <div class="image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR-tW7dn4wUdCmlT6J_tzl9OEhEPf_F3pYcig&usqp=CAU" />
      </div>
      <div class="card-inner">
        <div class="header">
          <h2>Beauty products</h2>
          <!-- <h3>Sub-Head</h2> -->
        </div>
        <div class="content">
          <p>View more about this</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" (click)="redirectTo('Management user')">
      <div class="image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTqqNNj8CjEDbc8qYZDB1SbgmZMWQ2Bbo6fQw&usqp=CAU" />
      </div>
      <div class="card-inner">
        <div class="header">
          <h2>Management users</h2>
          <!-- <h3>Sub-Head</h2> -->
        </div>
        <div class="content">
          <p>Control this</p>
        </div>
      </div>
    </div>
  </div>
</div>