<div class="card m-3">
  <img class="card-img-top" [src]="currentBeautyService.image" alt="Card image cap">
  <div class="card-body">
    <div class="row d-flex justify-content-between pl-3 pr-3">
      <h5 class="card-title">{{currentBeautyService.name}}</h5>
      <!-- <p><i class="far fa-question-circle circle-style"></i></p> -->
    </div>
    <!-- <p class="card-text"><i class="far fa-money-bill-alt"></i> {{currentBeautyService.price}}grn</p> -->
    <p class="card-text"><small class="text-muted"><i
          class="fas fa-concierge-bell"></i>{{currentBeautyService.serviceType}}</small></p>
    <p class="card-text"><small class="text-muted"><i
          class="far fa-calendar-alt"></i>{{currentBeautyService.date}}</small></p>
          <p class="card-text"><small class="text-muted"><i
            class="far fa-user"></i>{{currentBeautyService.customerName}}</small></p>
    <!-- <p class="card-text"><small class="text-muted"><i
          class="fas fa-child"></i>{{currentBeautyService.employeeName}}</small></p> -->
    <!-- <div class="row ml-1">
      <p class="m-1" (click)="delete(currentBeautyService.id)"><i class="far fa-trash-alt my-style-i"></i></p>
      <p class="m-1" (click)="edit(currentBeautyService.id)"><i class="fas fa-edit my-style-i"></i ></p>
    </div> -->
  </div>
</div>