.avatar {
    vertical-align: middle;
    width: 50px;
    height: 45px;
    border-radius: 50%;
  }

  .avatar-big {
    /* vertical-align: middle; */
    width: 155px;
    height: 145px;
    border-radius: 50%;
  }