<div class="card m-3">
  <img class="card-img-top" [src]="currentOrderedProduct.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{currentOrderedProduct.name}}</h5>
    <p class="card-text"><i class="far fa-money-bill-alt"></i> {{currentOrderedProduct.price}}grn</p>
    <p class="card-text"><small class="text-muted"><i
          class="fas fa-calendar-alt"></i>{{currentOrderedProduct.description}}</small></p>
    <p class="card-text"><small class="text-muted"><i
          class="fas fa-calendar-alt"></i>{{currentOrderedProduct.productType}}</small></p>
    <p class="card-text"><small class="text-muted"><i
          class="fas fa-user"></i>{{currentOrderedProduct.customerName}}</small></p>
  </div>
</div>
