<div class="container">
  <h2>About project</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias iure soluta sed quae quod nobis eaque eum repudiandae omnis natus ea adipisci sint animi, velit maiores eveniet. Nesciunt, atque qui.
  Officiis harum reprehenderit iure ea a labore, repudiandae cupiditate laboriosam rem iusto fugit repellat nostrum sit quasi, pariatur minima? Quae vitae possimus veritatis ratione saepe exercitationem, deleniti eum dolores unde.
  Molestiae, modi eos. Reiciendis, veniam amet? Quae illum cupiditate quibusdam, quidem, aspernatur illo eaque sed ea quis officia provident labore accusamus eveniet, laboriosam facilis necessitatibus sit natus soluta libero sapiente?</p>
</div>