<div class="card m-3">
  <img class="card-img-top" [src]="currentBeautyProduct.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{currentBeautyProduct.name}}</h5>
    <p class="card-text"><i class="far fa-money-bill-alt"></i> {{currentBeautyProduct.price}}grn</p>
    <p class="card-text"><small class="text-muted"><i
          class="fas fa-calendar-alt"></i>{{currentBeautyProduct.description}}</small></p>
    <p class="card-text"><small class="text-muted"><i
          class="fas fa-calendar-alt"></i>{{currentBeautyProduct.productType}}</small></p>
  </div>
  <div *ngIf="role=='Customer'" class="row ml-2 mr-2 justify-content-end">
    <!-- <button class="m-1 btn btn-outline-grey" (click)="order(currentBeautyService.id)">Order <i class="fas fa-plus my-style-i"></i></button> -->
    <p class="m-1" (click)="info(currentBeautyProduct.id)"><i
        class="justify-content-end fas fa-info-circle my-style-i"></i></p>
  </div>
  <div *ngIf="role=='Main manager'" class="row ml-1 d-flex justify-content-around">
    <p class="m-1" (click)="delete(currentBeautyProduct.id)"><i class="far fa-trash-alt my-style-i"></i></p>
    <p class="m-1" (click)="edit(currentBeautyProduct.id)"><i class="fas fa-edit my-style-i"></i></p>
  </div>
</div>
