@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.my-img {
    border: 3px solid #d0d0d045;
    box-shadow: 0px 4px 5px #d6d6d6;
}

.row {
    box-shadow: 0 0 16px #a5a5a5;
    border-radius: 5px;
}

.title-text {
    // text-uppercase mr-2 brown-text font-weight-bold
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 8px;
    color: #b1812b;
}

.text {
    font-family: 'Gothic A1', sans-serif;
    color: #d89e48;
}